header {
    width: 100%;
    margin: 0;
    display: flex;
    position: sticky;
    top: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.headerdiv {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.right a {
    margin: 10px;
    transition: 0.4s;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.right a:hover {
    transform: scale(1.1);
}

img {
    height: 40px;
}

#logo {
    height: 60px;
}

.left {
    display: flex;
    justify-content: left;
}

.menu {
    z-index: 100;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    width: 35px;
    height: 35px;
    border-radius: 30px;
    cursor: pointer;
    margin: 15px;
    transition: 0.5s;
}

.menu.active {
    rotate: 180deg;
}

.menu:hover {
    transform: scale(1.1);
}

.items {
    overflow: hidden;
    height: 60%;
    width: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0.5s;
}

.items.active {
    overflow: hidden;
    height: 60%;
    width: 75%;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transition: 0.5s;
}

.items a {
    margin: 15px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    transition: 0.4s;
    white-space: nowrap;
}

.items a:hover {
    transform: scale(1.1);
}

.right {
    display: flex;
    justify-content: right;
}