.conteiner {
    height: 50vh;
    width: 100%;
    padding: 10px;
}

section {
    margin: 5px;
}

.sectionone {
    height: 100%;
    width: 100%;
    background-color: rgb(95, 75, 130);
    flex: 5;
    border-radius: 100px;
}

.sectiontwo {
    flex: 2;
    height: 100%;
    width: 100%;
    background-color: transparent;
}