.conteiner {
    height: 50vh;
    width: 100%;
    padding: 10px;
}

section {
    margin: 5px;
}

.conteiner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.sectionone {
    flex: 5;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 211, 65);
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 30px;

}

.imagempub {
    background-color: rgb(255, 255, 255);
    height: 95%;
    width: 50%;
    border-radius: 80px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
}

.sectiontwo {
    flex: 2;
    height: 100%;
    width: 100%;
    background-color: transparent;
}